{
  "openapi": "3.0.3",
  "info": {
    "title": "Freestyle Sandboxes",
    "description": "\nFreestyle Sandboxes lets you deploy your users or AIs code. **Get your API Key at [admin.freestyle.sh](https://admin.freestyle.sh)**\n",
    "contact": {
      "name": "Ben",
      "email": "ben@freestyle.sh"
    },
    "license": {
      "name": "Closed Source"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.freestyle.sh",
      "description": "Production"
    }
  ],
  "paths": {
    "/auth/v1/whoami": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "description": "Returns information about the currently authenticated user or identity.",
        "operationId": "handle_whoami",
        "responses": {
          "200": {
            "description": "Current authenticated user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cloudstate/v1/deploy": {
      "post": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Deploy Cloudstate Project",
        "description": "Deploy a cloudstate project",
        "operationId": "handle_deploy_cloudstate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleCloudstateDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successfully deployed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreestyleCloudstateDeploySuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "failed to deploy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreestyleCloudstateDeployErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cloudstate/v1/projects/{id}/backup": {
      "get": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Get Backup of Cloudstate Project",
        "description": "Get a backup of a cloudstate project",
        "operationId": "handle_backup_cloudstate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully backed up",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  }
                }
              }
            }
          },
          "500": {
            "description": "failed to backup"
          }
        }
      }
    },
    "/dns/v1/records": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "List DNS Records",
        "operationId": "handle_list_records",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Create DNS Record",
        "operationId": "handle_create_record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecordResponse"
                }
              }
            }
          },
          "403": {
            "description": "Possible errors: DomainOwnershipError, RecordOwnershipError, DomainOwnershipVerificationFailed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: ErrorCreatingRecord, ErrorDeletingRecord",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DNS"
        ],
        "summary": "Delete DNS Record",
        "operationId": "handle_delete_record",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "record",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DnsRecord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRecordResponse"
                }
              }
            }
          },
          "403": {
            "description": "Possible errors: DomainOwnershipError, RecordOwnershipError, DomainOwnershipVerificationFailed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: ErrorCreatingRecord, ErrorDeletingRecord",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/v1/certs/{domain}/wildcard": {
      "post": {
        "tags": [
          "Certs",
          "Domains"
        ],
        "summary": "Provision a wildcard certificate",
        "description": "Provisions a wildcard certificate for a verified domain\n\n\nThis speeds up deploys on all subdomains of the domain. In order to use it, you must add the following record to your DNS config:\n\n`_acme-challenge.yourdomain.com` NS `dns.freestyle.sh`",
        "operationId": "handle_verify_wildcard",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "domain"
                  ],
                  "properties": {
                    "domain": {
                      "type": "string",
                      "example": "example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to preverify domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst sandboxes = new FreestyleSandboxes({\n  apiKey: 'your-api-key',\n});\n\nsandboxes.provisionWildcard('example.com').then((cert) => {\n  console.log(cert);\n});"
          }
        ]
      }
    },
    "/domains/v1/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains for an account",
        "description": "This lists the domains that an account has verified ownership of. This includes the *.style.dev domains the account has claimed.",
        "operationId": "handle_list_domains",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "format": "int64"
            }
          },
          {
            "name": "implicitlyOwned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "domain",
                      "accountId",
                      "createdAt",
                      "id",
                      "verifiedDns",
                      "implicitlyOwned",
                      "deployToDomain",
                      "manageDns",
                      "deployToSubdomains"
                    ],
                    "properties": {
                      "domain": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "verifiedDns": {
                        "type": "boolean"
                      },
                      "implicitlyOwned": {
                        "type": "boolean"
                      },
                      "deployToDomain": {
                        "type": "boolean"
                      },
                      "manageDns": {
                        "type": "boolean"
                      },
                      "deployToSubdomains": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to get domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst sandboxes = new FreestyleSandboxes({\n  apiKey: 'your-api-key',\n});\n\nsandboxes.listDomains().then((response) => {\n  console.log(response);\n});"
          }
        ]
      }
    },
    "/domains/v1/mappings": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List Domain Mappings",
        "description": "List domain mappings for any query based on exact domain or domain ownership (the domain ownership that gave the right to use the domain)",
        "operationId": "handle_list_domain_mappings",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "format": "int64"
            }
          },
          {
            "name": "domainOwnership",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "format": "uuid"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FreestyleSandboxDomainMapping"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/domains/v1/mappings/{domain}": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Insert Domain Mapping",
        "description": "This will unmap any other deployment to this domain. Provide either deployment_id or vm_id (with optional vm_port), but not both.",
        "operationId": "handle_insert_domain_mapping",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainMappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully mapped domain to deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomainMappingSuccess"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Public_DomainMappingError"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Public_DomainMappingError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Remove Domain Mapping",
        "operationId": "handle_delete_domain_mapping",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted domain mapping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfullyDeletedDomainMapping"
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: DomainAlreadyExists, InvalidRequest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Possible errors: FailedPermissionsCheck, DeploymentAccessDenied, VmAccessDeniedForMapping, DomainOwnershipNotVerified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error: FailedToProvisionCertificateForMapping",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: FailedRemoveDomainMapping, FailedToInsertOwnership, FailedInsertDomainMapping",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Error: FailedToCheckDomainMappingPermissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/v1/verifications": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domain verification requests for an account",
        "description": "Lists domain verification requests for the current account.",
        "operationId": "handle_list_domain_verification_requests",
        "responses": {
          "200": {
            "description": "List of verification codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "verificationCode",
                      "domain",
                      "createdAt"
                    ],
                    "properties": {
                      "verificationCode": {
                        "type": "string"
                      },
                      "domain": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to get verification codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst sandboxes = new FreestyleSandboxes({\n  apiKey: 'your-api-key',\n});\n\nsandboxes.listDomainVerificationRequests().then((response) => {\n  console.log(response);\n});"
          }
        ]
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Verify a domain verification request",
        "description": "This checks a pre-existing verification request for a domain. To create a verification request, call the [create domain verification](/#tag/domains/POST/domains/v1/verifications) endpoint. This endpoint will check if the domain has a TXT record with the verification code. If it does, the domain will be verified.",
        "operationId": "handle_verify_domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleVerifyDomainRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Domain verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyDomainSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: InvalidDomain, FailedToCreateVerificationCode, FailedToDeleteVerification, VerificationFailed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: PermissionDenied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: LimitExceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: VerificationNotFound",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error: FailedToProvisionCertificate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: FailedToVerifyDomain, FailedToListVerifications, FailedToListDomains, FailedToInsertDomainMapping, InternalError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Error: FailedToCheckPermissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst api = new FreestyleSandboxes({\n  apiKey: process.env.FREESTYLE_API_KEY!,\n});\n\napi\n  .verifyDomain('example.com')\n  .then((result) => {\n    console.log('Successfully Verified Domain!');\n  })\n  .catch((error) => {\n    console.error('Failed to verify domain: ', error);\n  });"
          }
        ]
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create a domain verification request",
        "description": "This creates a Freestyle Domain Verification Request. It returns a `verificationCode` for your domain. You need to place this code in a TXT record at `_freestyle_custom_hostname.thedomain.com`, then call the [verify domain](/#tag/domains/PUT/domains/v1/verifications) endpoint with the domain to verify it.",
        "operationId": "handle_create_domain_verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleDomainVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verification code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainVerificationRequest"
                }
              }
            }
          },
          "400": {
            "description": "Failed to create verification code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst api = new FreestyleSandboxes({\n  apiKey: process.env.FREESTYLE_API_KEY!,\n});\n\napi.createDomainVerificationRequest('example.com').then((result) => {\n  const verificationCode = result.verificationCode;\n  // put this at a TXT record at _freestyle_custom_hostname.example.com\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete a domain verification request",
        "description": "This deletes a Freestyle Domain Verification Request. This does not remove the domain from the account if it has already been verified, however the verification code will no longer be valid.",
        "operationId": "handle_delete_domain_verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleDeleteDomainVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verification code created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "verificationCode",
                    "domain"
                  ],
                  "properties": {
                    "verificationCode": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string",
                      "example": "example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to create verification code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/execute/v1/deployments": {
      "get": {
        "tags": [
          "Execute"
        ],
        "summary": "List execute runs",
        "description": "List execute runs.",
        "operationId": "handle_list_execute_runs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entries",
                    "total",
                    "offset"
                  ],
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExecuteLogEntry"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst sandboxes = new FreestyleSandboxes({\n  apiKey: 'your-api-key',\n});\n\nsandboxes.listExecuteRuns().then((runs) => {\n  console.log(runs);\n});"
          }
        ]
      }
    },
    "/execute/v1/deployments/{deployment}": {
      "get": {
        "tags": [
          "Execute"
        ],
        "summary": "Get information on execute run",
        "description": "Get information on execute run",
        "operationId": "handle_get_execute_run",
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "metadata"
                  ],
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/ExecuteLogEntry"
                    },
                    "code": {
                      "$ref": "#/components/schemas/ExecuteRunInfo",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Unauthorized access",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Not found",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Internal server error",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst sandboxes = new FreestyleSandboxes({\n  apiKey: 'your-api-key',\n});\n\nsandboxes.getExecuteRun('123e4567-e89b-12d3-a456-426614174000').then((runs) => {\n  console.log(runs);\n});"
          }
        ]
      }
    },
    "/execute/v1/script": {
      "post": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Execute Code",
        "description": "Send a TypeScript or JavaScript module, get the result",
        "operationId": "handle_execute_script",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleExecuteScriptParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result",
                    "logs"
                  ],
                  "properties": {
                    "result": {
                      "description": "The return value of the default export of the script"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FreestyleJavaScriptLog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "logs": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "$ref": "#/components/schemas/FreestyleJavaScriptLog"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "logs": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "$ref": "#/components/schemas/FreestyleJavaScriptLog"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "JS SDK",
            "lang": "javascript",
            "source": "import { FreestyleSandboxes } from 'freestyle-sandboxes';\n\nconst sandboxes = new FreestyleSandboxes({\n  apiKey: 'your-api-key',\n});\n\nsandboxes.executeScript(\n  `export default () => {\n  let set1 = [1, 2, 3, 4, 5];\n  let set2 = [4, 5, 6, 7, 8];\n\n  // find the sum of every value of each set multiplied by every value of the other set\n\n  let sum = 0;\n  for (let i = 0; i < set1.length; i++) {\n    for (let j = 0; j < set2.length; j++) {\n      sum += set1[i] * set2[j];\n    }\n  }\n\n  return sum;\n};`\n);"
          },
          {
            "label": "Vercel AI SDK",
            "lang": "javascript",
            "source": "import { executeTool } from 'freestyle-sandboxes/ai';\nimport { generateText } from 'ai';\n\nconst codeExecutor = executeTool({\n  apiKey: 'your-api-key',\n});\n\nconst { text, steps } = await generateText({\n  model: yourModel,\n  tools: {\n    codeExecutor,\n  },\n  maxSteps: 2,\n  prompt:\n    'What is the sum of every number between 1 and 12 multiplied by itself?',\n});"
          },
          {
            "label": "Mastra AI SDK",
            "lang": "javascript",
            "source": "import { executeTool } from 'freestyle-sandboxes/mastra';\n\nconst mastra = new Mastra();\n\nconst modelConfig: ModelConfig = {\n  provider: 'OPEN_AI',\n  name: 'gpt-4',\n};\n\nconst llm = mastra.LLM(modelConfig);\n\nconst response = await llm.generate(\n  'Calculate the sum of every number between 13 and 19 divided by the sum of every number between 8 and 13',\n  {\n    tools: {\n      executor: executeTool({\n        apiKey: process.env.FREESTYLE_API_KEY!,\n      }),\n    },\n  }\n);\n\nconsole.log('Response Steps:', response.steps);\nconsole.log('Response:', response.text);"
          },
          {
            "label": "LangGraph AI SDK",
            "lang": "javascript",
            "source": "import { createReactAgent } from '@langchain/langgraph/prebuilt';\nimport { ChatOpenAI } from '@langchain/openai';\nimport { executeTool } from 'freestyle-sandboxes/langgraph';\n\nconst model = new ChatOpenAI({ model: 'gpt-4o' });\n\nconst agent = createReactAgent({\n  llm: model,\n  tools: [\n    executeTool({\n      apiKey: process.env.FREESTYLE_API_KEY,\n      nodeModules: {\n        resend: '4.0.1',\n      },\n      envVars: {\n        RESEND_API_KEY: process.env.RESEND_API_KEY,\n      },\n    }),\n  ],\n});\n\nconst result = await agent.invoke(\n  {\n    messages: [\n      { role: 'user', content: 'What is the factorial of 13 divided by 55^2' },\n    ],\n  },\n  { configurable: { thread_id: 42 } }\n);\nconsole.log(result.messages.at(-1)?.content);"
          },
          {
            "label": "Python SDK",
            "lang": "python",
            "source": "import freestyle\nimport os\n\nclient = freestyle.Freestyle(\n  os.environ.get('FREESTYLE_API_KEY')\n)\n\ncodeExecutionResult = client.execute_script(\n    \"\"\"\nimport Stripe from 'stripe';\nexport default async () => {\n\nconst stripe = new Stripe(process.env.STRIPE_API_KEY);\n\nconst paymentIntent = await stripe.paymentIntents.create({\n  amount: 1099,\n  currency: 'usd',\n  payment_method_types: ['card'],\n});\n\nreturn paymentIntent;\n};\n    \"\"\",\n    freestyle.FreestyleExecuteScriptParamsConfiguration(\n            env_vars={\"STRIPE_API_KEY\": os.environ.get(\"STRIPE_API_KEY\")},\n            node_modules={\"stripe\": \"17.7.0\"},\n        ),\n)\n\nprint('The payment intent created is:', codeExecutionResult)"
          },
          {
            "label": "Gemini Python SDK",
            "lang": "python",
            "source": "import google.genai as genai\nfrom google.genai import types\n\nimport os\nimport freestyle.gemini\n\nclient = genai.Client(api_key=os.environ.get(\"GENERATIVEAI_API_KEY\"))\n\n\n# model = genai.client.com(\"gemini-2.0-flash\")\ndefinition, runner = freestyle.gemini.execute_tool(\n    os.environ.get(\"FREESTYLE_API_KEY\"),\n)\nchat = client.chats.create(\n    model=\"gemini-2.0-flash\",\n    config=types.GenerateContentConfigDict(\n        tools=[definition],\n    ),\n    history=[],\n)\n\nresponse = chat.send_message(\n    \"What is the sum of every number from 50 to 65 divided by 17\"\n).candidates[0]\ntool_result = runner(response.content)\n\nprint(\"Answer: \", tool_result)"
          },
          {
            "label": "OpenAI Python SDK",
            "lang": "python",
            "source": "import os\nimport openai\nimport freestyle.openai\n\nclient = openai.OpenAI(\n    api_key=os.environ.get('OPENAI_API_KEY'),\n)\n\n\n(definition, runner) = freestyle.openai.execute_tool(\n    os.environ.get('FREESTYLE_API_KEY'),\n)\n\nquery = 'What is the sum of every number from 50 to 65 divided by 17'\nmessages = [{'role': 'user', 'content': query}]\nprint('Question: ', query)\n\nres = client.chat.completions.create(\n    model='gpt-4-turbo', messages=messages, tools=[definition]\n)\n\n\nresult = runner(res.choices[0].message)\n\nmessages.append(res.choices[0].message)\nif len(result) > 0:\n    messages.extend(result)\n\nres = client.chat.completions.create(\n    model='gpt-4-turbo',\n    messages=messages,\n    tools=[definition],\n)\n\nprint('Answer: ', res.choices[0].message.content)"
          }
        ]
      }
    },
    "/execute/v2/script": {
      "post": {
        "tags": [
          "Execute"
        ],
        "summary": "Execute Code",
        "description": "Send a TypeScript or JavaScript module, get the result (v2 - proper error codes)",
        "operationId": "handle_execute_script_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleExecuteScriptParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Script executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteScriptSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Error: ExecuteLimitExceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/execute/v3/script": {
      "post": {
        "tags": [
          "Execute"
        ],
        "summary": "Execute Code (Stateless)",
        "description": "Send a TypeScript or JavaScript module, get the result (v3 - stateless execution)",
        "operationId": "handle_execute_script_v3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreestyleExecuteScriptParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Script executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteScriptSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Error: ExecuteLimitExceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "List repositories",
        "description": "List repositories with metadata.",
        "operationId": "handle_list_repositories",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of repositories to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for the list of repositories",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepositoriesSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Git"
        ],
        "summary": "Create a repository",
        "description": "Create a repository. Once the repository is created, it will also be created on the Git server.\nThe repository name must be unique within your account.\n\nOnce created, you can then push your code to this repository.\n\nThe repo will be available at `git.freestyle.sh/{repo-id}`\n",
        "operationId": "handle_create_repo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "description": "This name is not visible to users, and is only accessible to you via API and in the\ndashboard. Mostly useful for observability."
                  },
                  "public": {
                    "type": "boolean",
                    "default": false
                  },
                  "defaultBranch": {
                    "type": "string",
                    "nullable": true,
                    "description": "The default branch name for the repository. Defaults to \"main\" if not specified."
                  },
                  "source": {
                    "$ref": "#/components/schemas/CreateRepoSource",
                    "description": "Fork from another Git repository. Cannot be used with `import`."
                  },
                  "import": {
                    "$ref": "#/components/schemas/CreateRepoImport",
                    "description": "Import static content with an initial commit. Cannot be used with `source`."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Repository created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRepositoryResponseSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Error: GitRepoLimitExceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: InternalServerError, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo_id}/default-branch": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get repository default branch",
        "description": "Get the default branch name for a repository.",
        "operationId": "handle_get_default_branch",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "The repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDefaultBranchResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Git"
        ],
        "summary": "Set repository default branch",
        "description": "Set the default branch name for a repository. This will update the HEAD reference to point to the new default branch.",
        "operationId": "handle_set_default_branch",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "The repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultBranchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetDefaultBranchResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo_id}/github-sync": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get GitHub sync configuration",
        "description": "Get the GitHub sync configuration for a repository, if configured.",
        "operationId": "get_github_sync",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub sync configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GithubSyncConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Repository or sync configuration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Git"
        ],
        "summary": "Configure GitHub sync for repository",
        "description": "Configure GitHub synchronization for an existing Freestyle repository. This links your Freestyle repository to a GitHub repository for automatic syncing. Requires the GitHub repository name in 'owner/repo' format.",
        "operationId": "configure_github_sync",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigureGithubSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "GitHub sync configured successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Git"
        ],
        "summary": "Remove GitHub sync configuration",
        "description": "Remove GitHub sync configuration from a repository. This stops automatic syncing but doesn't affect the repository content.",
        "operationId": "remove_github_sync",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub sync configuration removed successfully"
          },
          "404": {
            "description": "Repository or sync configuration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/git/v1/repo/{repo_id}/visibility": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get repository visibility",
        "description": "Get the visibility (public or private) for a repository.",
        "operationId": "handle_get_visibility",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "The repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVisibilityResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Git"
        ],
        "summary": "Set repository visibility",
        "description": "Set the visibility (public or private) for a repository.",
        "operationId": "handle_set_visibility",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "The repository ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVisibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetVisibilityResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get repository information",
        "description": "Retrieve information about a specific repository, including its ID, name, and default branch.",
        "operationId": "handle_get_repo_info",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryInfoRaw"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden access to repository"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Git"
        ],
        "summary": "Delete a repository",
        "description": "Delete a repository. This is irreversible, and will also delete the repository on the Git server.",
        "operationId": "handle_delete_repo",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRepositorySuccess"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/commits": {
      "post": {
        "tags": [
          "Git"
        ],
        "summary": "Create a commit with files",
        "description": "Create a commit from files with automatic tree building and branch updates. Supports text files (UTF-8), binary files (base64), file deletions, and optimistic concurrency control via expectedSha. If the target branch does not exist, it is created as an orphan branch with this commit as its root.",
        "operationId": "handle_create_commit",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Commit created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCommitResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/compare": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Compare two commits",
        "description": "Get the comparison between two commits in a repository",
        "operationId": "handle_compare_commits",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base revision (commit SHA, branch name, tag, or any valid Git revision)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "main"
          },
          {
            "name": "head",
            "in": "query",
            "description": "Head revision (commit SHA, branch name, tag, or any valid Git revision)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitComparison"
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/contents/{path}": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get the contents of a file or directory",
        "description": "Get the contents of a file or directory in a repository",
        "operationId": "handle_get_contents",
        "parameters": [
          {
            "name": "rev",
            "in": "query",
            "description": "The git revision (branch name, commit SHA, etc.). Defaults to HEAD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "The repository ID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "The path to the file or directory. Empty for root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitContents"
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/blobs/{hash}": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get a blob object",
        "description": "Get a blob from the Git database. The contents will always be base64 encoded.",
        "operationId": "handle_get_blob",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The object's hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blob retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobObject"
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/commits": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "List commits for a repository",
        "description": "List commits with flexible filtering and pagination. Supports:\n- Cursor-based pagination (recommended): Use `next_commit` from response with `until` (desc order) or `since` (asc order)\n- Commit ranges: Specify both `since` and `until` to get commits between them (like git's `since..until`)\n- Order control: `order=desc` (newest first, default) or `order=asc` (oldest first)\n- Legacy offset pagination: Use `offset` param (deprecated, incompatible with since/until)\n\nRequires repository visibility to be public or user to be the owner.",
        "operationId": "handle_list_commits",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Branch name (defaults to HEAD)",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "main"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of commits to return (default: 50, max: 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "example": "50"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of commits to skip (default: 0)",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "example": "0"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order: \"desc\" (newest first, default) or \"asc\" (oldest first)",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommitOrder",
              "nullable": true
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Start point (older commit) for filtering/pagination (commit SHA)\n- When used alone with order=desc: Returns commits newer than this (exclusive). Use for \"what's new since X?\"\n- When used alone with order=asc: Starts from this commit (inclusive). Use with next_commit for pagination.\n- When used with `until`: Defines the base of a range (like git's A..B where this is A)",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "abc123"
          },
          {
            "name": "until",
            "in": "query",
            "description": "End point (newer commit) for filtering/pagination (commit SHA)\n- When used alone with order=desc: Starts from this commit (inclusive). Use with next_commit for pagination.\n- When used alone with order=asc: Returns commits up to and including this commit.\n- When used with `since`: Defines the head of a range (like git's A..B where this is B)\n\nWhen both `since` and `until` are provided, `until` must be a descendant of `since`.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "def456"
          }
        ],
        "responses": {
          "200": {
            "description": "Commits retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitList"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Possible errors: Internal, GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Git"
        ],
        "summary": "Create a commit from git objects",
        "description": "Create a commit from tree and parent SHAs. This is a git object database operation for advanced use cases. For file-based commits, use the high-level endpoint at /git/v1/repo/{repo}/commits.",
        "operationId": "handle_create_odb_commit",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOdbCommitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Commit created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOdbCommitResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/commits/{hash}": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get a commit object",
        "description": "Get a commit from the Git database with detailed information.",
        "operationId": "handle_get_commit",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The object's hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commit retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitObject"
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/refs/heads/": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "List branches in a repo",
        "description": "Get a list of all branches in the Git repository. Returns branch names and their commit SHAs.",
        "operationId": "handle_list_branches",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branches retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBranchesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/refs/heads/{branch}": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get a branch reference",
        "description": "Get a reference to a branch in the Git repository. Returns the ref name and SHA of the branch.",
        "operationId": "handle_get_ref_branch",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "description": "The branch's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch reference retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitReference"
                }
              }
            }
          },
          "400": {
            "description": "Error: BranchNameEmpty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: GitClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code in SCREAMING_SNAKE_CASE"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/refs/tags/": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "List all tags in a repository",
        "description": "List all tags in the Git repository with full details. Returns both annotated tags (with tagger and message)\n        and lightweight tags. For each tag, the `sha` field contains the tag object SHA (for annotated tags) or\n        commit SHA (for lightweight tags), while `target.sha` always contains the commit SHA the tag points to.",
        "operationId": "handle_list_tags",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "description": "The repository id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/git/v1/repo/{repo}/git/refs/tags/{tag}": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Get a tag by name",
[...]
